.card{
    margin: 10px;
    width: 18rem;
    display: flex;
    align-items: center;
    cursor: pointer;
    overflow: hidden;
}
.card-img-top{
    transition: all 0.2s ease-in;
   
}

.card-img-top:hover{
    transform: scale(1.3);
    filter: opacity(0.7);
    
}

#image-modal{
    margin:10px;
}
body{
    scroll-behavior: smooth;
    font-family: 'Roboto Slab', serif;
}

.btn-up{
    position: fixed;
    right: 2rem;
    bottom: 2rem;
}